main{
    background-color: #fff;
    border-radius: 10px;
    height: 200px;
    width: 700px;
    margin-top: 50px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.676);
}

main h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}

main p{
    font-size: 18px;
    font-weight: lighter;
}
span{
    font-style: italic;
}